header{
    margin: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

nav,img {
    z-index: 9;
}

header nav a{
    margin: 0px 25px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.3s linear;
}

#accueil header nav a:hover, #choix header nav a:hover{
    color: #192B40;
    transition: all 0.3s linear;
}

header #logo{
    height: 70px;
}

.footerCentre {
    font-style: bold;
}

.imgUser {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background-color: #eaeaea;
    border: 2px solid #fff;
}

.reseaux img {
    width: 17px;
    margin: 0 7px 0 7px;
}   

#depliant{
    width: 70px;
    cursor: pointer;
}

#menuFlottant {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 25px;
    top: 150px;
    display: none;
    z-index: 50
}

#menuFlottant img{
    width: 60px;
    margin: 0;
    padding: 0;
}

#menuFlottant p{
    margin: 0;
    padding: 0;
    margin-top: -15px;
    font-size: 8pt;
}

#menuFlottant a{
    margin: 0;
    padding: 0;
}

#menuFlottant li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuFlottant li:first-child{
    margin-top: -30px;
    margin-left: -100px;
}

#menuFlottant li:nth-child(2){
    margin-top: -7px;
    margin-left: -5px;
}

#menuFlottant li:last-child{
    margin-top: -30px;
    margin-left: -5px;
}

.profil{
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    padding: 3px 5px 3px 20px;
    transition: all 0.3s linear;
}

#accueil .profil:hover, #choix .profil:hover{
    border-color: #192B40;
    transition: all 0.3s linear;
    color: white;
}

.profil p{
    margin-right: 28px;
    margin-left: 11px;
    font-size: 16px;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 90%;
    margin-left: calc(50% - 45%);
    font-size: 12px;
}

footer div a{
    margin: 0 10px;
}



footer .reseaux a{
    margin: 0;
}