#jeu{
    background-image: url("../images/arbreOr/foretNuit.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    position: fixed;
    right: 0;
    top: 17.5%;
    height: 75%;
    width: 80%;
    /*border: 1px solid blue;*/
    display: none;
}

#jeu #zoom:focus{
    outline:none;
} 

#jeu #zoom img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#jeu #zoom{
    text-decoration:none;
    color: rgba(0,0,0,0.7);
    cursor: default;
    opacity: 0;
}

#jeu #arbreOr{
    height: 60%;
    margin-top: 10%;
    margin-left: 50%;
    display: none;
    z-index: 100;
}

#arbreOr:hover{
    cursor: pointer;
}

.popup{
    width: 200px;
    height: 80px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    text-align: center;
    color: #333;
    display: none;
}

.popup img{
    position: absolute;
    top: -25px;
    left: -25px;
    width: 30px;
    cursor: pointer;
}

#lutin1{
    height: 35%;
    position: absolute;
    bottom: 28%;
    left: 49%;
    display: none;
    transition: all 0.2s linear;
}

#lutin2{
    height: 20%;
    position: absolute;
    bottom: 20%;
    left: 40%;
    display: none;
    transition: all 0.2s linear;
}

#fille{
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 40%;
    display: none;
    transition: all 0.2s linear;
}

#arbre1{
    height: 50%;
    position: absolute;
    bottom: 10%;
    left: 35%;
    display: none;
    transition: all 0.2s linear;
}

#arbre2{
    height: 30%;
    position: absolute;
    bottom: 20%;
    left: 40%;
    display: none;
    transition: all 0.2s linear;
}

#arbre3{
    height: 40%;
    position: absolute;
    bottom: 9%;
    right: 27%;
    display: none;
    transition: all 0.2s linear;
}

#arbre4{
    height: 35%;
    position: absolute;
    bottom: 15%;
    right: 17%;
    display: none;
    transition: all 0.2s linear;
}

.feuilles{
    height: 15px;
    width: 15px;
    background-color: red;
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 5000;
}

#feuille1{
    bottom: 30%;
    left: 20%;
}

#feuille2{
    bottom: 5%;
    left: 30%;
}

#feuille3{
    bottom: 15%;
    right: 40%;
}

.pierres{
    position: absolute;
    height: 10%;
    display: none;
    transition: all 0.2s linear;
}

#pierre1{
    left: 50%;
    bottom: 20%;
}

#pierre2{
    right: 50%;
    bottom: 10%;
}

#pierre3{
    right: 35%;
    bottom: 20%;
    height: 8%;
}