@font-face {
    font-family: "Qurany";
    src: url("../font/Qurany.ttf");
}

@font-face {
    font-family: "Qurany-light";
    src: url("../font/Qurany-light.ttf");
}

@font-face {
    font-family: "Qurany-italic";
    src: url("../font/Qurany-italic.ttf");
}

@font-face {
    font-family: "Qurany-light-italic";
    src: url("../font/Qurany-light-italic.ttf");
}

@font-face {
    font-family: "Google-sans";
    src: url("../font/GoogleSans-Medium");
}

@font-face {
    font-family: "Google-sansBold";
    src: url("../font/GoogleSans-Bold");
}

@font-face {
    font-family: "Google-sansReg";
    src: url("../font/GoogleSans-Regular");
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
    overflow-y: hidden;
    
}

.conteneur {
    display: grid;
  grid-template-columns: 30% 70%;
    grid-template-rows: 650px 300px;
}

.partie1 {
  grid-column: 1; grid-row: 1;
    background-color: #eaeaea;
    margin: 0 30px 0 85px;
    border-radius: 8px;
}
.partie2 {
  grid-column: 2; grid-row: 1;
    background-color: #222;
    margin: 0 85px 0 20px;
    border-radius: 8px;
}

.banniere {
    height: 230px;
    background-color: #aaaaaa;
    border-radius: 8px 8px 0 0;
}

.imgBan {
    width: 100%;
    height: 230px;
    object-fit: cover;
    position: relative;
    background-color: #a3a3a3;
     border-radius: 8px 8px 0 0;
}

.imgProfil {
    width: 120px;
    position: absolute;
    z-index: 2;
    margin: 55px 0 0 38px;
    border-radius: 80px;
    border: 3px solid #fff;
    background-color: #e8e8e8;
}

.nomProfil {
    font-size: 20px;
    position: absolute;
    z-index: 3;
    font-family: 'Google-sansBold';
    margin: 33px 0 0 90px;
}

.descriptionProfil {
    position: absolute;
    z-index: 3;
    margin: 103px 0 0 180px;
}

.descriptionProfil p {
    font-size: 13px;
    width: 240px;
    position: absolute;
}

.roleProfil {
    position: absolute;
    z-index: 3;
    font-size: 13px;
    margin: 93px 0 0 180px;
    font-family: 'Google-sans';

}

.roleProfil img {
    width: 13px;
}



p {
    font-family: 'Google-sansReg';
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
}

body{
    background-image: url(../images/foret2-min.jpg);
    background-size: cover;
	background-attachment: fixed;
}

main {
    margin-left: 87px;
    margin-top: 180px;
    margin-bottom: 100px;
    z-index: 999;
}

h1 {
    font-family: 'Qurany';
    font-size: 35pt;
    margin-bottom: 30px;
}

h1 span {
    font-size: 80pt;
}

main p {
    width: 40%;
    font-size: 17px;
    margin-bottom: 40px;
}

main a {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 14px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 90%;
    margin-left: calc(50% - 45%);
    font-size: 12px;
}

footer div a {
    margin: 0 10px;
}



footer .reseaux a {
    margin: 0;
}

.fullscreen-bg__video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}


