@font-face {
    font-family: "Qurany";
    src: url("../font/Qurany.ttf");
}

@font-face {
    font-family: "Qurany-light";
    src: url("../font/Qurany-light.ttf");
}

@font-face {
    font-family: "Qurany-italic";
    src: url("../font/Qurany-italic.ttf");
}

@font-face {
    font-family: "Qurany-light-italic";
    src: url("../font/Qurany-light-italic.ttf");
}

@font-face {
    font-family: "Google-sans";
    src: url("../font/GoogleSans-Medium");
}

@font-face {
    font-family: "Google-sansBold";
    src: url("../font/GoogleSans-Bold");
}

@font-face {
    font-family: "Google-sansReg";
    src: url("../font/GoogleSans-Regular");
}

html,
body {
    margin: 0;
    padding: 0;
    
}

html {
    height: 100%;
    font-family: 'Google-sansReg', 'Arial';
}

body {
    height: 100%;
    display: flex;
    position: relative;
    color: white;
    font-family: 'Google-sansReg', 'Arial';
}

section:first-child {
    background-color: #24414A;
    height: 100%;
    width: 40%;
    border-right: 10px solid white;
    box-sizing: border-box;
    position: relative
}

section:last-child {
    height: 100%;
    width: 60%;
    background-image: url(../images/fondInscritpion.jpg);
    background-size: cover;
}


.conteneur {

 margin-top: 10%;
    

}

#titre {
    margin-left: 20px;
    font-family: 'Google-sansReg', 'Arial';
}


h1 {
    font-family: 'Qurany';
    font-size: 30pt;
    margin-bottom: 30px;
    width: 70%;
    margin-left: calc(50% - 35%);
    height: 10%;
    margin-top: calc(50% - 15%);
}

h1 span {
    font-size: 70pt;
}

#logo {
    width: 25%;
    margin-left: calc(50% - 12.5%);
    margin-bottom: 30px;
}



section:first-child #titre {
    width: 60%;
    margin-left: calc(50% - 30%);
    border-left: 2px solid white;
    padding-left: 15px;
    margin-top: 2%;
}


.margeHaute {
     margin-top: 10%;
}


}

h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 -10px 0;
    font-size: 20pt;
    
}

p {
    margin: 0;
    padding: 10px 0;
    font-size: 10pt;
}

form {
    width: 60%;
    margin-left: calc(50% - 33%);
    margin-top: 30px;
    font-family: 'Google-sansReg', 'Arial';
}

input {
    border: none;
    border-radius: 32px;
    background: url("../images/user.svg") no-repeat 6%/5%, linear-gradient(to right, #416068 0%, #416068 15%, #2e515b 15%, #2e515b 20%, #2e515b 100%);
    outline: none;
    text-indent: 20%;
    width: 100%;
    height: 5%;
    color: white;
    font-size: 11px;
    box-shadow: 4px 4px 14px rgba(17, 47, 57, 0.74);
    font-family: 'Google-sansReg', 'Arial';
}

input:focus {
    box-shadow: 4px 4px 23px rgb(17, 41, 49);
    transition: 0.3s ease-in-out;

}

input::placeholder {
    color: white;
    text-transform: uppercase;
}

input:focus::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

form li {
    list-style-type: none;
}

form li + li {
    margin-top: 20px;
}

a {
    color: white;
    
}

.rectif {
    margin-left: -10px; 
}

.centrer input {
    background-image: none;
    background: url(../images/flecheSuivant.png) no-repeat 82%/10%, rgb(12, 101, 129);
    width: 40%;
    margin-left: calc(50% - 20%);
    text-indent: 0;
    box-shadow: 0 5px 15px rgba(17, 47, 57, 0.67);
    cursor: pointer;
    padding-right: 10%;
    text-transform: uppercase;
    margin-top: 12%;
}

.centrer input:hover {

    box-shadow: 0 5px 15px rgb(17, 47, 57);
    background: url(../images/flecheSuivant.png) no-repeat 85%/10%, #145e76;
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}

.message {
    position: absolute;
    background-color: #222;
    padding: 15px 40px 15px 40px;
    border-radius: 0 50px 50px 0 ;
    top: 10px;
}

.messageCentre {
   position: absolute;
   left: 0;
    width: 550px;

  
    
}

.message img {
    margin: 0 10px -4px 0;
}

.container {
    position: relative;
    padding-left: 50px;
}

.container input {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
}

.check label {
    font-size: 10pt;
}

input[type="email"] {
    background: url("../images/arroba.svg") no-repeat 6%/5%, linear-gradient(to right, #416068 0%, #416068 15%, #2e515b 15%, #2e515b 20%, #2e515b 100%);
}

input[type="password"] {
    background: url("../images/key.svg") no-repeat 6%/5%, linear-gradient(to right, #416068 0%, #416068 15%, #2e515b 15%, #2e515b 20%, #2e515b 100%);
}

input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2E515B;
}

.check {
    margin: 30px 0 10 13px
}

.checkmark {
    position: absolute;
    top: -4px;
    left: -1px;
    height: 29px;
    width: 29px;
    background-color: #2E515B;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
}

.container:hover input ~ .checkmark {
    /*background-color:#efefef;*/
}

.container input:checked ~ .checkmark {
    background-color: #416068;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 6px;
    width: 7px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reseaux {
    text-align: center;
    margin-top: 5%;
}

.reseaux img {
    width: 17px;
    margin: 0 7px 0 7px;
}

.reseaux a {
    text-decoration: none;
}

.footer {
    text-align: center;
    width: 100%;
    font-size: 8pt;
    position: absolute;
    bottom: 10px;
}

#contenu {
    margin-top: 5%;
    
}

#ou{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    width: 60%;
    margin-left: calc(50% - 30%);
    margin-top: 5%;
}

#ou div{
    width: 40%;
    border-bottom: 2px solid white;
}

#sous-titre{
    font-size: 10pt;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
}

#contenu a{
    text-decoration: none;
    font-size: 10pt;
    width: 100%;
    text-align: center;
}

#contenu a:hover p{
    text-decoration: underline;
}

#contenu a p{
    margin-top: 1%;
}

p{
    padding: 0;
}


#retour{
    position: absolute;
    background-color: #393939;
    z-index: 50;
    left: 0;
    bottom: 10%;
    width: 10%;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 13px 13px 0;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#retour img{
    width: 60%;
    margin-left: calc(50% - 30%);
}

#retour p{
    margin-bottom: 10px;
}

#retour{
    position: absolute;
    background-color: #393939;
    z-index: 50;
    left: 0;
    bottom: 10%;
    width: 10%;
    color: white;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 13px 13px 0;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#retour img{
    width: 60%;
    margin-left: calc(50% - 30%);
}

#retour p{
    margin-bottom: 10px;
}
