/* INSERTION DES POLICES */
@font-face {
 font-family: "Qurany";
 src: url("../font/Qurany.ttf");
}
@font-face {
 font-family: "Qurany-light";
 src: url("../font/Qurany-light.ttf");
}
@font-face {
 font-family: "Qurany-italic";
 src: url("../font/Qurany-italic.ttf");
}
@font-face {
 font-family: "Qurany-light-italic";
 src: url("../font/Qurany-light-italic.ttf");
}


/* STYLE GÉNÉRAL */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url("../images/foret2-min.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
}
main{
    display: flex;
    justify-content: space-around;
    position: relative;
}
h1{
    margin: 0;
    font-family: "Qurany";
    font-size: 50pt;
    margin-bottom: 100px;
}
p{
    font-family: "Open Sans";
}
a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans";
}

/* LECTEUR AUDIO */
.player {
    margin-bottom : 40px;
}
.player>span {
    font-family : "Open Sans";
    color : #d6d6d6;
    font-size : 0.9em;
}
.barreTemps {
    position : relative;
    background-color : #f2f2f2;
    height : 4px;
    width : 100%;
    border-radius : 2px;
    margin-top : 9px;
}
.tempsPasse {
    background-color : #a8a8a8;
    height : 4px;
    border-radius : 4px;
}
.curseur {
    position : absolute;
    top : 50%;
    transform : translateX(-50%) translateY(-50%);
    height : 15px;
    width : 6px;
    border-radius : 3px;
    background-color : #ffffff;
}

/* STYLE MODE AENTURE */
#param>div {
    cursor : pointer;
}
#texte{
    width: 35%;
    padding-top: 50px;
}
#texte h2{
    margin: 0;
    font-family: 'Qurany-light';
    font-size: 25pt;
    font-weight: lighter;
}
#texte>p{
    font-size: 8pt;
    margin-bottom: 5px;
}

#texte #param{
    display: flex;
    font-size: 10pt;
}
#texte #param img{
    width: 40px;
    margin: 0 10px 0 20px;
    cursor: pointer;
}
#texte #param div{
    display: flex;
    align-items: center;
}
#texte #param div:first-child img{
    margin-left: 0;
}

#retour{
    position: absolute;
    background-color: #393939;
    z-index: 50;
    left: 0;
    bottom: 10%;
    width: 5%;
    color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 13px 13px 0;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
#retour img{
    width: 50%;
    margin-left: calc(50% - 25%);
}

#carte{
    width: 40%;
    border-bottom: 15px solid white;
    background-color: #232323;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.18);
}
#carte h2{
    font-family: 'Qurany';
    font-size: 30pt;
    margin: 0;
    margin-top: 30px;
    margin-left: 30px;
}
#carte img{
    max-height: 400px;
    margin-bottom: 20px;
    margin-top: -30px;
}
#carte p{
    background-image: url(../images/pointeur.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 40px;
    padding-top: 5px;
    font-size: 10pt;
    height: 31px;
    margin-left: 30px;
}

#jeu {
    display : none;
    position: absolute;
    justify-content : flex-end;
    right: 0;
    top: 0;
    height: 100%;
    width : 64vw;
    height : calc((9 * 64vw) / 16);
    margin : auto;
}
#wrapperJeu {
  height : 100%;
  width : 100%;
  position : relative;
  overflow : hidden;
}
#wrapperJeu>img:not(.fondJeu) {
  z-index : 12;
}
.fondJeu {
  width : 100%;
  height : 100%;
  z-index : 10;
}
.fondJeu+.fondJeu {
  z-index : 11;
  display : block;
}


#narrateur{
    z-index : 20;
    background-color: #3E3E3E;
    border-bottom: 10px solid white;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.18);
    min-width: 250px;
    width : 22%;
    position: absolute;
    right: 10px;
    top: 20px;
    height: calc(100% - 50px);

    display : flex;
    flex-direction: column;
    /*overflow-y: scroll;*/
    transition : all 0.8s linear;
}

#narrateur>div:first-child{
    width: 60%;
    margin : 0 auto;
}
#narrateur>div:last-child {
    cursor : pointer;
    width: 40%;
    margin : auto auto 10px auto;
}
#narrateur>p{
    width: 80%;
    padding : 1em 10%;
    margin : 0;
    font-family: 'Segoe UI';
}
#narrateur h3{
    font-size: 16pt;
    font-family: 'Open Sans';
}

/* MIROIR AUX FÉES */
#narrateur>div:not(.interfaceChoix) img{
    width: 30px;
    margin-right: 10px;
}
#narrateur>div:not(.interfaceChoix) {
    display: flex;
    align-items: center;
    justify-content : center;
}

.interfaceChoix {
  width : 100%;
  max-height : 75%;
  flex-grow : 1;
  display : flex;
  text-align: center;
}
.interfaceChoix>div {
  max-height : 100%;
}
.chevalier>div:not(:nth-child(2)) {
  height : 100%;
  max-width : 25%;
  display : inline-block;
  margin : 0 10%;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
}
.chevalier>div:not(:nth-child(2))>div {
  max-height : 25%;
}
.chevalier>div:not(:nth-child(2)) p {
  margin : 0 0 10px 0;
}
.chevalier>div:not(:nth-child(2)) img {
  max-height : 50px;
}
.chevalier>div:not(:nth-child(2)) img:hover {
  cursor : pointer;
}

.chevalier>div:nth-child(2)>img {
  height : 100%;
  margin : auto;
  display : block;
}
.chevalier>div:nth-child(2) {
  flex-grow : 1;
  display : inline-block;
  margin : 0 5%;
}

.arme {
  justify-content : space-between;
}
.arme>div {
  width : calc(100% / 3);
  margin : auto;
}
.arme>div>img {
  width : 100%;
  transition : transform 0.2s linear;
}
.arme>div>img:hover {
  transform : rotate(15deg) scale(1.2);
}
.arme>div>.selection, .arme>div>.selection:hover {
  transform : rotate(25deg) scale(1.2);
}




/* TOMBEAU DE MERLIN */
.divReponsesQuizz>button:hover {
  background-color : #444444;
  color : #f2f2f2;
  transform : scale(0.95);
}
  /* Brouillard */
.brouillard {
  position : absolute;
  transition : all 1.2s ease-in;
  opacity : 0.75;
}

#wrapperJeu .brouillard[src*="nuageTurquoise.png"] {
  left : 0;
  top : 0;
  transform : translateX(0) translateY(-10%);
  width : 55%;
  z-index : 14;
}
#wrapperJeu .brouillard[src*="nuageBleu.png"] {
  right : 0;
  top : 0;
  transform : translateX(5%) translateY(-8%);
  width : 53%;
  z-index : 15;
}
#wrapperJeu .brouillard[src*="nuageDore.png"] {
  right : 0;
  top : 55%;
  transform : translateX(0) translateY(-50%);
  width : 45%;
  z-index : 16;
}
#wrapperJeu .brouillard[src*="nuageDore2.png"] {
  left : 0;
  bottom : 0;
  transform : translateX(-2%) translateY(0);
  width : 65%;
  z-index : 17;
  opacity : 0.55;
}
#wrapperJeu .brouillard[src*="nuageViolet.png"] {
  left : 0;
  top : 40%;
  transform : translateX(0) translateY(-50%);
  width : 75%;
  z-index : 18;
}
#wrapperJeu .brouillard[src*="nuageViolet2.png"] {
  right : 0;
  bottom : 0;
  transform : translateX(10%) translateY(0);
  width : 75%;
  z-index : 19;
}
#wrapperJeu .brouillard[src*="nuageViolet3.png"] {
  left : 0;
  top : 55%;
  transform : translateX(0) translateY(-40%);
  height : 60%;
  z-index : 13;
}


#wrapperJeu .disparition.brouillard[src*="nuageTurquoise.png"] {
  transform : translateX(-100%) translateY(-10%);
}
#wrapperJeu .disparition.brouillard[src*="nuageBleu.png"] {
  transform : translateX(100%) translateY(-8%);
}
#wrapperJeu .disparition.brouillard[src*="nuageDore.png"] {
  transform : translateX(100%) translateY(-50%);
}
#wrapperJeu .disparition.brouillard[src*="nuageDore2.png"] {
  transform : translateX(-100%) translateY(0);
}
#wrapperJeu .disparition.brouillard[src*="nuageViolet.png"] {
  transform : translateX(-100%) translateY(-50%);
}
#wrapperJeu .disparition.brouillard[src*="nuageViolet2.png"] {
  transform : translateX(100%) translateY(0);
}
#wrapperJeu .disparition.brouillard[src*="nuageViolet3.png"] {
  transform : translateX(-100%) translateY(-40%);
}


  /* Quizz */
#narrateur .divReponsesQuizz {
  width : 80%;
  display : flex;
  justify-content : space-between !important;
  flex-wrap : wrap;
  margin : auto;
  cursor : default;
  padding-bottom : 10px;
}
.divReponsesQuizz>button {
  font-family : "Open Sans";
  font-size : 1.2em;
  display : inline-block;
  border : none;
  height : 6vh;
  border-radius : 3vh;
  width : 100%;
  background-color : #f2f2f2;
  margin-bottom : 5%;
  cursor : pointer;
  animation : fonduEntrant 0.5s linear;
  transition : all 0.1s linear;
}
#narrateur .messageQuizz {
  margin : auto;
}
#narrateur .questionQuizz {
  text-align : center;
  font-weight : 500;
  font-size : 1.1em;
}
#narrateur .numeroQuestionQuizz {
  text-align : center;
}












/* RESPONSIVE DESIGN */
@media screen and (max-width: 1366px) {
    #texte #param{
        font-size: 1.1em;
    }
    #texte>p {
        font-size: 0.9em;
        margin-bottom: 5px;
    }
    h1 {
        font-size : 4em;
        margin-bottom : 40px;
    }
    #texte>h2 {
        font-size : 1.75em;
    }
}
