@font-face {
 font-family: "Qurany";
 src: url("../font/Qurany.ttf");
}

@font-face {
 font-family: "Qurany-light";
 src: url("../font/Qurany-light.ttf");
}

@font-face {
 font-family: "Qurany-italic";
 src: url("../font/Qurany-italic.ttf");
}

@font-face {
 font-family: "Qurany-light-italic";
 src: url("../font/Qurany-light-italic.ttf");
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    position: relative;
    color: white;
    font-family: 'Open Sans';
}

section:first-child{
    background-color: #24414A;
    height: 100%;
    width: 40%;
    border-right: 10px solid white;
    box-sizing: border-box;
    position: relative;
}

section:last-child{
    height: 100%;
    width: 60%;
    background-image: url(../images/fondInscritpion.jpg);
    background-size: cover;
}

h1{
    font-family: 'Qurany';
    font-size: 30pt;
    margin-bottom: 30px;
    width: 70%;
    margin-left: calc(50% - 35%);
    height: 10%;
    margin-top: calc(50% - 15%);
}

h1 span{
    font-size: 70pt;
}

#logo{
    width: 25%;
    margin-left: calc(50% - 12.5%);
    margin-bottom: 30px;
}

section:first-child #titre{
    width: 60%;
    margin-left: calc(50% - 30%);
    border-left: 2px solid white;
    padding-left: 15px;
    margin-top: 2%;
}

h2{
    text-transform: uppercase;
    margin: 0;
    font-size: 20pt;
}

p{
    margin: 0;
    padding: 10px 0;
    font-size: 10pt;
}

form{
    width: 60%;
    margin-left: calc(50% - 33%);
    margin-top: 30px;
}

input{
	border: none;
    border-radius: 32px;
    background: url("../images/user.svg") no-repeat 6%/5%, linear-gradient(to right, #416068 0%, #416068 15%, #2e515b 15%, #2e515b 20%, #2e515b 100%);
    outline: none;
    text-indent: 20%;
    width: 100%;
    height: 5%;
    color: white;
    font-size: 11px;
    box-shadow: 4px 4px 10px #112F39;
}

input::placeholder{
    color: white;
    text-transform: uppercase;
}

input:focus::placeholder{
    color: rgba(255,255,255,0.5);
}

form li{
    list-style-type: none;
}

form li+li{
    margin-top: 20px;
}

a{
    color: white;
}

.centrer input{
    background-image: none;
    background: url(../images/flecheSuivant.png) no-repeat 85%/10%, #0C6581;
    width: 40%;
    margin-left: calc(50% - 20%);
    text-indent: 0;
    box-shadow: 0 5px 15px #112F39;
    cursor: pointer;
    padding-right: 10%;
    text-transform: uppercase;
    margin-top: 5%;
}

.container{
    position: relative;
    padding-left: 50px;
}

.container input{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
}

.check{
    width: 100%;
    margin: 20px 0;
}

.check label{
    font-size: 10pt;
}

input[type="email"]{
    background: url("../images/arroba.svg") no-repeat 6%/5%, linear-gradient(to right, #416068 0%, #416068 15%, #2e515b 15%, #2e515b 20%, #2e515b 100%);
}

input[type="password"]{
    background: url("../images/key.svg") no-repeat 6%/5%, linear-gradient(to right, #416068 0%, #416068 15%, #2e515b 15%, #2e515b 20%, #2e515b 100%);
}

input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2E515B;
}

.check{
    margin: 15px 0 0 20px;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #2E515B;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}
.container:hover input~.checkmark{
    /*background-color:#efefef;*/
}
.container input:checked~.checkmark{
    background-color: #416068;
}
.checkmark:after{
    content:"";
    position:absolute;
    display:none;
}
.container input:checked~.checkmark:after{
    display:block;
}
.container .checkmark:after{
    left:9px;
    top:5px;
    width:5px;
    height:10px;
    border:solid #fff;
    border-width:0 3px 3px 0;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}

.reseaux{
    text-align: center;
    margin-top: 5%;
}

.reseaux img{
    width: 30px;
}

.reseaux a{
    text-decoration: none;
}

.footer{
    text-align: center;
    width: 100%;
    font-size: 8pt;
    position: absolute;
    bottom: 20px;
}

#contenu{
    margin-top: 5%;
}

#ou{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    width: 60%;
    margin-left: calc(50% - 30%);
    margin-top: 5%;
}

#ou div{
    width: 40%;
    border-bottom: 2px solid white;
}

#sous-titre{
    font-size: 10pt;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
}

#contenu a{
    text-decoration: none;
    font-size: 10pt;
    width: 100%;
    text-align: center;
}

#contenu a:hover p{
    text-decoration: underline;
}

#contenu a p{
    margin-top: 1%;
}

p{
    padding: 0;
}

#retour{
    position: absolute;
    background-color: #393939;
    z-index: 50;
    left: 0;
    bottom: 10%;
    width: 10%;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 13px 13px 0;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#retour img{
    width: 60%;
    margin-left: calc(50% - 30%);
}

#retour p{
    margin-bottom: 10px;
}