@font-face {
	font-family: "greatVibes";
	src: url("../font/greatVibesRegular.ttf") format("truetype");
}
@font-face {
	font-family: "bradleyHandITC";
	src: url("../font/bradleyHandITC.ttf") format("truetype");
}

body {
	margin : 0;
	background-color : #393939;
}

header, main, footer {
	width : 100%;
}
main {
	display : flex;
	justify-content : space-between;
	align-items : center;
}

#pageGrimoire {
	background-image : url("../images/grimoire.png");
	background-size : contain;
	background-repeat : no-repeat;
	box-sizing : border-box;
	margin : 0;
	width : 77vw;
	height : calc(67991vw / 1471);
	padding : 3% 7%;
	font-family : bradleyHandITC;
	color : #414141;
}

#pageGrimoire>h1, #pageGrimoire>h2 {
	text-align : center;
	width : 43%;
	font-weight : normal;
}
#pageGrimoire>h1 {
	font-size : 2.5em;
	margin-bottom : 0;
	margin-top : 2%;
}
#pageGrimoire>h1 {
	font-family : greatVibes;
}

.elementGrimoire {
	display : flex;
	width : 43%;
	flex-direction : row-reverse;
}
.elementGrimoire>img {
	width : 15vw;
	height : 15vw;
}