@font-face {
    font-family: "Qurany";
    src: url("../font/Qurany.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
    overflow-y: hidden;
}

p {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
}

body {
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin-left: 87px;
    margin-right: 87px;
    margin-top: 180px;
    margin-bottom: 100px;
    z-index: 999;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Qurany';
    font-size: 35pt;
    margin-bottom: 30px;
}

h1 span {
    font-size: 80pt;
}

main p {
    width: 40%;
    font-size: 17px;
    margin-bottom: 40px;
}

main a {
    border: 3px solid white;
    padding: 10px 60px 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 20px;
    background-image: url(../images/flecheSuivant.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    transition: all 0.3s linear;
}

main a:hover{
    transform: scale(1.2);
    transition: all 0.3s linear;
    border-color: #1a9a09;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 90%;
    margin-left: calc(50% - 45%);
    font-size: 12px;
}

footer div a {
    margin: 0 10px;
}



footer .reseaux a {
    margin: 0;
}

.fullscreen-bg__video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.barre {
    background-color: #8b8b8b;
    padding-top: 10px;
    z-index: 0;
    position: absolute;
    top: -10px;
    width: 100%;
}

.barreBas {
    background-color: #8b8b8b;
    padding-top: 20%;
    z-index: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 3px solid #fff;
}

.loading {
    position: fixed;
    z-index: 900;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 0;
    background: #464646;
    transition: .75s;
}

.logoVerti {
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    top: 30%;
}


.loading-title {
    color: #fff;
    z-index: 901;
    margin-bottom: 14%;
    position: absolute;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-title2 {
    color: #fff;
    z-index: 901;
    margin-bottom: 13%;
    position: absolute;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-progress {
    height: 11px;
    background: #464646;
    top: -11px;
    bottom: 0;
    width: 100%;
    position: absolute;
    transition: .35s;
}
